<h1><%= "#{@school.name}" %></h1>

<p>

Name: <%= "#{@school.name}" %>
<br>
Address: <%= "#{@school.address}" %>
<br>
Students:

<ul>
  <% @school.students.each do |student| %>
    <li><%= link_to student.name, student_path(student.id) %><%= button_to 'delete', {:controller => :students , :action => 'delete', :id => student.id }, :method => :delete %></li>
  <% end %>
</ul>

</p>
